---
import Layout from "../layouts/Layout.astro";
---

<Layout title="عبدالرحمن شاهين"
        description="مهندس برمجيات, أعمل في مجال تطوير الويب والتطبيقات منذ عام 2018 و مهتم بتطوير وتحسين أداء البرمجيات للأفضل وأحب مشاركة المعرفة والخبرة مع الآخرين وهدفي هو تطوير مجتمع البرمجة العربي, ستجد هنا مقالاتي ومشاريعي وأدواتي المفضلة والتي أستخدمها في عملي اليومي."
        keywords="عبدالرحمن شاهين, مهندس برمجيات, تطوير الويب, تطوير التطبيقات, البرمجة, البرمجة العربية, مقالات, مشاريع, أدوات, تطوير البرمجيات"
>
    <h1 class="text-3xl mt-8 text-gray-900 font-bold dark:text-gray-100 text-center">
        أهلا! أنا عبدالرحمن شاهين
    </h1>
    <p class="w-full md:w-1/2 mx-auto mt-4 text-gray-700 dark:text-gray-300 text-center">
        مهندس برمجيات, أعمل في مجال تطوير الويب والتطبيقات منذ عام 2018 و مهتم بتطوير وتحسين أداء البرمجيات للأفضل
        وأحب مشاركة المعرفة والخبرة مع الآخرين وهدفي هو تطوير مجتمع البرمجة العربي, ستجد هنا مقالاتي ومشاريعي
        وأدواتي المفضلة والتي أستخدمها في عملي اليومي.
    </p>

    <!--  Contact Me on Email and Telegram -->
    <div class="flex flex-col justify-center mt-8">
        <div class="flex flex-col items-center">
            <p class="text-gray-700 dark:text-gray-300">تواصل معي عبر البريد الإلكتروني: </p>
            <a href="mailto:abshain8@outlook.com" class="text-blue-500 dark:text-blue-400 hover:underline">
                abshahin8@outlook.com
            </a>
        </div>

        <div class="flex flex-col items-center mt-4">
            <p class="text-gray-700 dark:text-gray-300">أو عبر تطبيق تليجرام: </p>
            <a href="https://t.me/abshahin" class="text-blue-500 dark:text-blue-400 hover:underline">
                @abshahin
            </a>
        </div>
    </div>
</Layout>